*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #ADD8E6;

    --fs-h1: 3rem;
    --fs-h2: 2.50rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);

}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --f2-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General Styles */

body {
    background: var(--clr-accent);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 2em 2em;
}

img {
    display: block;
    max-width: 100%;
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }

.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
   background: var(--clr-light);
   padding: .25em 0.4em;
   font-family: var(--ff-secondary);
   margin-bottom: 1em;
}

/* header */
nav {display: none;}

/* Intro Section */

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 800px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 325px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }

}

/* About Section */

.about-me {
    background-color: #a3d3e0;
    /*border-style: solid;
    border-image: linear-gradient(#76aebe, transparent) 0.75;
    border-bottom: 0;*/
    box-shadow: 0 0 8px 8px #9fd1de;
    background-size: cover;
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    grid-area: img;
    box-shadow: var(--bs);
    left: -2em;
    min-width: 275px;
    min-height: 350px;
    
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas:
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1.5em;
        width: calc(100% + 3em);
        padding-left: 1em;
        padding-right: calc(200px + 2em);
    }

    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}


/* Experience Section */

.my-experience {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    text-align: center;
}

.section__title--work {
    grid-column: 1 / -1;
    text-align: center;
}

.project {
    width: 100%;
    padding-bottom: 100%;
    size: 75%;
    /* Maintain aspect ratio for each image */
    position: relative;
    cursor: pointer;
}

.project__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    filter: blur(5px);
    transition: opacity 250ms linear;
}

.project__img img {
    width: 95%;
    height: 95%;
    object-fit: cover;
}

.project-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(233, 244, 244, 0.79);
    color: var(--clr-dark);
    padding: 10px;
    border-radius: 60px;
    transition: opacity 0.3s ease;
}

.project-details-map {
    background-color: rgba(243, 74, 74, 0.142);
    border-radius: 50px;
}

.project__item:hover .project-details:not(button) {
    opacity: 0.75;
}

.project__img:hover,
.project__item:focus .project__img {
    filter: blur(0);
    opacity: 0.75;
}

/* Modal*/

.btn {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}

.btn:active {
    transform: scale(0.9);
}

.close-modal {
    background-color: transparent;
    color:rgba(255, 255, 255, 0.8);
    border: none;
    font-size: 1.5rem;
}

.modal {
    width: 600px;
    position: fixed;
    top: -100%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    transition: top 0.5s ease-in-out;
    border-radius: 10px;
    font-family: var(--ff-primary);
    background-color: #303030;
    color:rgba(255, 255, 255, 0.8)
}

.modal.active {
    top: 50%;
}

.modal .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: rgba(0,0,0,0.03);
    color: var(--clr-accent);
    border-bottom: 1px solid rgba(1, 43, 77, 0.259);
}

.modal .body {
    padding: 0.7rem;
    text-align: left;
    font-size: 1rem;
}

.modal .body-lutron {
    padding: 1rem;
    text-align: left;
    background-color: #303030;
    color:rgba(255, 255, 255, 0.8)
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

#overlay.active {
    display: block;
}

/* Lutron */
.modal .body-lutron {
    text-align: left;
    margin-top: 20px;
    overflow-y: auto;
}

.slideshow-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 300px;
    /* Adjust the desired height */
    overflow: hidden;
}

.slide {
    display: none;
}

.slide:first-child {
    display: block;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-content {
    margin-top: 10px;
    padding-left: 10px;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: var(--clr-dark);
    cursor: pointer;
    user-select: none;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* ML */
.body-ML {
    margin-top: 5px;
    max-height: 550px;
    text-align: left;
    overflow-y: auto;
}

/* Make the second set of images smaller */
.ml__img--small {
    max-width: 300;
    max-height: 300;
}

.slideshow-container-ml {
    height: 180px;
}


.prev-ml {
    color: var(--clr-light);
}

.next-ml {
    color: var(--clr-light);
}

/* SoilSense */

.soilsense__img {
    border-radius: 20px;
}




































/* Education Section */
.my-education {
    text-align: center;
}

.section__title--education {
    margin-bottom: 1em;
}

.section-education {
    display: inline-block;
    text-align: left;
}

.course-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

.course-table th,
.course-table td {
    padding: 8px;
    border: 1px solid #ddd;
}

.course-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.course-table td {
    text-align: center;
}

.course-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.course-table tr:hover {
    background-color: #f5f5f5;
}
